[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds000212.git
	datalad-id = f7806bd4-8a2e-11e8-9061-0242ac120017
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000212
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = https://github.com/templateflow/templateflow.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-Fischer344"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-Fischer344
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-fsaverage"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-fsaverage
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "sourcedata/templateflow/tpl-fsLR"]
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/templateflow/tpl-fsLR
